@import './components/colorswatch';
@import './components/typography';
@import './components/utils';
@import './components/header';
@import './components/lightbox';
@import './components/registration-form/index';


::selection {
    background: var(--brand-teal);
    color: #fff;
}

body {
    max-width: 100%;
}
